<div class="container"> <br>	<br>		
    <div class="row">
       <div class="col-3">
        <img src="https://i.imgur.com/87ZUO6G.png" width="150" height="150" class="Avatar" >
      </div>
       <div class="col-3">
 
       <form class="login100-form validate-form" method=post action=>
         <h3 align="center">INICIO DE SESIÓN</h3> <br>	
           <div class="container">
             <i class="fa fa-users"></i>
             <label for="">Usuario</label>
             <input type="text" class="form-control" placeholder="Usuario">
             <br>
             <i class="fa fa-key"></i>
             <label for="">Contraseña</label>
             <input type="password" class="form-control" placeholder="Contraseña">
           </div>
           <br>
           <div class="col">
             <button class="btn btn-success btn-lg btn-block">
               <!--<i class="fas fa-share-square"></i>-->
               INICIAR
             </button>
           </div>
     </form>
     </div>
    </div>
     </div>


