<div class="card">
  <form  [formGroup]="formularioGrupo"    (ngSubmit)="enviardatos()">
    <div class="card-header">
      Editar Tema
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="">ID</label>
        <input type="text" class="form-control" formControlName="id"  name="id" id="id" placeholder="codigo" readonly>
      </div>

      <div class="form-group">
        <label for="">nombre</label>
        <input type="text" class="form-control" formControlName="nombre" name="nombre" id="nombre" placeholder="nombre">
      </div>

      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a class="dropdown-item" routerLink="/listarformatoa" href="#">Cancelar</a>
      </div>

    </div>
  </form>
</div>

